<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistration</servlet-name>
        <servlet-class>UserRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutUser</servlet-name>
        <servlet-class>LogoutUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyDetails</servlet-name>
        <servlet-class>CompanyDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCompany</servlet-name>
        <servlet-class>AddCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCompany</servlet-name>
        <servlet-class>UpdateCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCompanyDetails</servlet-name>
        <servlet-class>UpdateCompanyDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCompanyDetail</servlet-name>
        <servlet-class>UpdateCompanyDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyRemoved</servlet-name>
        <servlet-class>CompanyRemoved</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdmin</servlet-name>
        <servlet-class>LogoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCompanyDetails</servlet-name>
        <servlet-class>AdminCompanyDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportentMessage</servlet-name>
        <servlet-class>ImportentMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistration</servlet-name>
        <url-pattern>/UserRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutUser</servlet-name>
        <url-pattern>/LogoutUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyDetails</servlet-name>
        <url-pattern>/CompanyDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCompany</servlet-name>
        <url-pattern>/AddCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCompany</servlet-name>
        <url-pattern>/UpdateCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCompanyDetails</servlet-name>
        <url-pattern>/UpdateCompanyDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCompanyDetail</servlet-name>
        <url-pattern>/UpdateCompanyDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyRemoved</servlet-name>
        <url-pattern>/CompanyRemoved</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdmin</servlet-name>
        <url-pattern>/LogoutAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCompanyDetails</servlet-name>
        <url-pattern>/AdminCompanyDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportentMessage</servlet-name>
        <url-pattern>/ImportentMessage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
